.global-alert {
  position: fixed;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 20px;
  max-width: 400px;
  width: 100%;

  border-radius: var(--border-radius);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: rgba(var(--secondary-surface-rgb), 0.5);
  color: var(--primary-text);

  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  &__icon {
    width: 24px;
    height: 24px;
    margin-bottom: 10px;
    pointer-events: none;
    user-select: none;
  }

  &__message {
    text-align: center;
    font-size: 16px;
  }

  &--error {
    background-color: rgba(var(--error-rgb), 0.1);
    border-left: 4px solid rgb(var(--error-rgb));
  }

  &--warning {
    background-color: rgba(var(--warning-rgb), 0.1);
    border-left: 4px solid rgb(var(--warning-rgb));
  }

  &--success {
    background-color: rgba(var(--success-rgb), 0.1);
    border-left: 4px solid rgb(var(--success-rgb));
  }

  &__fade-enter-active {
    animation: global-alert__slide-in 0.5s cubic-bezier(0.45, 0, 0.55, 1) forwards;
  }

  &__fade-leave-active {
    animation: global-alert__slide-out 0.5s cubic-bezier(0.45, 0, 0.55, 1) forwards;
  }

  &__fade-enter,
  &__fade-leave-to {
    opacity: 0;
    transform: translateX(-50%) translateY(-100%);
  }
}

@keyframes global-alert__slide-in {
  0% {
    opacity: 0;
    transform: translateX(-50%) translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }
}

@keyframes global-alert__slide-out {
  0% {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-50%) translateY(-100%);
  }
}
