@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;600&display=swap');

.homepage {
    overflow-x: hidden;

    &__background {
        position: fixed;
        background-color: rgb(19, 19, 19);
        height: 120vh;
        z-index: -1;
        scale: 1.25;
        img {
            height: 120%;
            transform: translateY(-30px);
            object-fit: cover;
            filter: blur(8px);
            opacity: 0.6;
            user-select: none;
            pointer-events: none;
        }
    }

    &__content {
        text-align: center;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h1 {
            font-family: 'Barlow Condensed', sans-serif;
            font-weight: 700;
            font-size: 3.5rem;
            margin-bottom: 1rem;
            letter-spacing: 0.03em;
            color: rgb(255, 255, 255);
        }

        p {
            font-size: 1.5rem;
            color: rgb(212, 212, 212);
            margin-bottom: 0.25rem;
        }

        &__arrows {
            position: relative;
            top: 7%;
            transform: translate(-50%, -50%);

            span {
                display: block;
                width: 20px;
                height: 20px;
                border-bottom: 1px solid #fff;
                border-right: 1px solid #fff;
                transform: rotate(45deg);
                margin: -10px;
                animation: animate_arrows 2s infinite;

                &:nth-child(2) {
                    animation-delay: -0.2s;
                }

                &:nth-child(3) {
                    animation-delay: -0.4s;
                }
            }
        }
    }

    @keyframes animate_arrows {
        0% {
            opacity: 0;
            transform: rotate(45deg) translate(-20px, -20px);
        }
        50% {
            opacity: 1;
        }
        100% {
            opacity: 0;
            transform: rotate(45deg) translate(20px, 20px);
        }
    }

    &__section {
        transition: all 0.3s ease-in-out;
        padding: 8rem;
        display: flex;
        align-items: center;

        img {
            display: flex;
            width: 500px;
            height: auto;
        }

        .text-block {
            display: flex;
            flex-direction: column;
            margin-left: auto;
            max-width: 800px;
        }

        h2 {
            color: white;
            font-size: 3rem;
            padding-bottom: 2rem;
            padding-left: 5px;
        }

        .paragraphs {
            border-radius: var(--border-radius);
            background: rgba(255, 255, 255, 0.08);
            backdrop-filter: blur(15px);
            box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
            padding: 1rem;
            color: #ddd;
            font-size: 1.5rem;
            line-height: 1.6;
            max-height: 500px;
        }
    }

    &__section_reversed {
        transition: all 0.3s ease-in-out;
        padding: 8rem;
        display: flex;
        align-items: center;
        flex-direction: row-reverse;

        img {
            display: flex;
            width: 500px;
            height: auto;
        }

        .text-block {
            display: flex;
            flex-direction: column;
            margin-right: auto;
            max-width: 800px;
        }

        h2 {
            color: white;
            font-size: 3rem;
            padding-bottom: 2rem;
            padding-left: 5px;
        }

        .paragraphs {
            border-radius: var(--border-radius);
            background: rgba(255, 255, 255, 0.08);
            backdrop-filter: blur(15px);
            box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
            padding: 1rem;
            font-size: 1.5rem;
            line-height: 1.6;
            max-height: 500px;

            p {
                color: #ddd;
                margin: 0.5rem 0;
            }
        }
    }
}
