.message-card {
    position: fixed;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    color: var(--primary-text);
    padding: 20px;
    border-radius: 8px;
    max-width: 300px;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: var(--secondary-surface);
    }   

.image {
    position: relative;
    width: 24px;
    height: 24px;

    left: calc(50% - 12px);

}

.message-card-content {
    margin-top: 10px;
    text-align: center;
    font-size: 16px;
}

.close-btn {
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
}

.message-card-fade-enter-active,
.message-card-fade-leave-active {
    transition: opacity 0.3s ease;
}

.message-card-fade-enter, .message-card-fade-leave-to /* .message-card-fade-leave-active in <2.1.8 */ {
    opacity: 0;
}

.message-card-fade-enter {
    animation: slideInFromTop 0.5s ease-out forwards;
}

@keyframes slideInFromTop {
    0% {
        transform: translateX(-50%) translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(-50%) translateY(0);
        opacity: 1;
    }
}
