.blur-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4rem;
    z-index: 999; // Keep it on top

    background: transparent;
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
    transition:
        background 0.3s ease,
        backdrop-filter 0.3s ease;
}

.blur-container.blurred {
    background: rgba(var(--bg), 0.2);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 0;
    margin-bottom: 1rem; // Distances navbar from content
    font-family: "Figtree", sans-serif;

    &-left,
    &-right {
        display: flex;
        align-items: center;
        margin-right: 10px;
        -webkit-user-drag: none;
        -khtml-user-drag: none;
        -moz-user-drag: none;
        -o-user-drag: none;
    }

    &-center {
        display: flex;
        gap: 0.1rem;
        font-size: 0.85rem;
        margin-right: 10px;

        li.dropdown {
            position: relative;

            a {
                text-decoration: none;
                color: var(--secondary-text);
            }

            .dropdown-menu {
                display: none;
                position: absolute;
                background: var(--surface);
                box-shadow: 0 4px 20px var(--shadow);
                border-radius: var(--pico-border-radius);
                min-width: 160px;
                padding: 0.5rem 0;
                z-index: 10;
            }

            &:hover .dropdown-menu {
                display: block;
            }
        }
    }
}

.logo-link {
    text-decoration: none;
    color: var(--primary);
    display: flex;
    align-items: center;

    .logo-img {
        width: 64px;
        height: 64px;
        margin-bottom: 25px;
        margin-right: 10px;
    }

    .logo-text {
        font-size: 1.5rem;
    }
}

.btn {
    padding: 0.3rem 0.7rem;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
    font-weight: bold;
    font-size: 0.85rem;
    white-space: nowrap;
    text-decoration: none;

    &.login {
        background: transparent;
        color: var(--primary-text);
    }

    &.signup {
        background: var(--primary);
        color: var(--inv-primary-text);
        margin-left: 0.6rem;
    }
}

.user-container {
    position: relative;
}

.user-img {
    display: flex;
    align-items: center;
    padding-right: 15px;
    border: 1px var(--inv-secondary-text) solid;
    border-radius: var(--border-radius);
    gap: 10px;
    cursor: pointer;
    transition: transform 0.2s ease;
    &:hover {
        transform: scale(1.05);
    }
    img {
        width: 64px;
        height: 64px;
        border-radius: 50%;
        object-fit: cover;
        -webkit-user-drag: none;
        -khtml-user-drag: none;
        -moz-user-drag: none;
        -o-user-drag: none;
    }
    h4 {
        margin: 0;
        font-weight: 600;
        font-size: 1.1rem;
        color: var(--primary-text);
        white-space: nowrap;
    }
}

.user-menu {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 8px;
    top: calc(100% + 10px);
    background: var(--surface);
    border: 1px solid var(--inv-secondary-text);
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    min-width: 200px;
    padding: 10px;
    text-align: center;

    p {
        margin: 0;
        border-radius: var(--border-radius);
        padding: 8px 10px;
        cursor: pointer;

        &:hover {
            background: var(--inv-secondary-text);
        }
    }
}
