/* 
------------------- Compile with sass ------------------- 
sass --watch assets/scss/theme.scss assets/css/theme.css
---------------------------------------------------------
*/

/* Default: Dark Theme */
:root:not([data-theme]),
[data-theme="dark"] {
  /* Primary */
  --primary: rgb(68, 152, 255);
  --primary-rgb: 68, 152, 255;
  --primary-hover: rgb(59, 130, 246);
  --primary-hover-rgb: 59, 130, 246;
  --primary-text: rgb(255, 255, 255);
  --primary-text-rgb: 255, 255, 255;
  --inv-primary-text: rgb(0, 0, 0);
  --inv-primary-text-rgb: 0, 0, 0;

  /* Secondary */
  --secondary: rgb(204, 12, 255);
  --secondary-rgb: 204, 12, 255;
  --secondary-hover: rgb(170, 14, 212);
  --secondary-hover-rgb: 170, 14, 212;
  --secondary-text: rgb(193, 203, 219);
  --secondary-text-rgb: 193, 203, 219;
  --inv-secondary-text: rgb(39, 41, 44);
  --inv-secondary-text-rgb: 39, 41, 44;

   /* Tertiary */
  --tertiary-text: rgb(112, 112, 112);
  --tertiary-text-rgb: 112, 112, 112;

  /* Other */
  --bg: rgb(19, 19, 19);
  --bg-rgb: 19, 19, 19;
  --inv-bg: rgb(242, 242, 242);
  --inv-bg-rgb: 242, 242, 242;
  --surface: rgb(30, 30, 30);
  --surface-rgb: 30, 30, 30;
  --secondary-surface: rgb(46, 52, 58);
  --secondary-surface-rgb: 46, 52, 58;
  --border: rgb(0, 0, 0);
  --border-rgb: 0, 0, 0;
  --border-radius: 1vw;
  --shadow: rgba(0, 0, 0, 0.4);
  --glowing: rgb(238, 238, 238);
  --glowing-rgb: 238, 238, 238;
  --error: rgb(248, 113, 113);
  --error-rgb: 248, 113, 113;
  --warning: rgb(250, 153, 42);
  --warning-rgb: 250, 153, 42;
  --info: rgb(42, 219, 250);
  --info-rgb: 42, 219, 250;
  --success: rgb(51, 211, 113);
  --success-rgb: 51, 211, 113;

  --pico-background-color: var(--bg);
  --pico-border-radius: var(--border-radius);
}

/* Light Theme */
[data-theme="light"] {
  /* Primary */
  --primary: rgb(68, 152, 255);
  --primary-rgb: 68, 152, 255;
  --primary-hover: rgb(59, 130, 246);
  --primary-hover-rgb: 59, 130, 246;
  --primary-text: rgb(0, 0, 0);
  --primary-text-rgb: 0, 0, 0;
  --inv-primary-text: rgb(255, 255, 255);
  --inv-primary-text-rgb: 255, 255, 255;

  /* Secondary */
  --secondary: rgb(204, 12, 255);
  --secondary-rgb: 204, 12, 255;
  --secondary-hover: rgb(170, 14, 212);
  --secondary-hover-rgb: 170, 14, 212;
  --secondary-text: rgb(51, 51, 51);
  --secondary-text-rgb: 51, 51, 51;
  --inv-secondary-text: rgb(207, 207, 207);
  --inv-secondary-text-rgb: 207, 207, 207;

   /* Tertiary */
  --tertiary-text: rgb(112, 112, 112);
  --tertiary-text-rgb: 112, 112, 112;

  /* Other */
  --bg: rgb(242, 242, 242);
  --bg-rgb: 242, 242, 242;
  --inv-bg: rgb(19, 19, 19);
  --inv-bg-rgb: 19, 19, 19
  --surface: rgb(255, 255, 255);
  --surface-rgb: 255, 255, 255;
  --secondary-surface: rgb(209, 213, 235);
  --secondary-surface-rgb: 209, 213, 235;
  --border: rgb(192, 186, 186);
  --border-rgb: 192, 186, 186;
  --border-radius: 1vw;
  --shadow: rgba(0, 0, 0, 0.1);
  --glowing: rgb(59, 130, 246);
  --glowing-rgb: 59, 130, 246;
  --error: rgb(248, 113, 113);
  --error-rgb: 248, 113, 113;
  --warning: rgb(250, 153, 42);
  --warning-rgb: 250, 153, 42;
  --info: rgb(42, 219, 250);
  --info-rgb: 42, 219, 250;
  --success: rgb(51, 211, 113);
  --success-rgb: 51, 211, 113;

  --pico-background-color: var(--bg);
  --pico-border-radius: var(--border-radius);
}
